// 时间list
.ant-timeline-item-content{
  padding: 0 50px;
  transform: translateY(30px);
  margin-left: 10px;
  background: #4186f4;
  border-radius: 4px;
}

.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child{
  border: none;
}

.ant-timeline-item-content{
  
}